/.dist
/.vs
/.vscode
/api_prog_mat_dinamiche.exe
/chatgpt.c
/c_programming_shit.c
/dfs.c
/dfs.exe
/file.c
/file.exe
/open_1.output.txt
/open_1.txt
/open_100.txt
/open_101.txt
/open_102.txt
/open_104.output.txt
/open_104.txt
/open_105.output.txt
/open_105.txt
/open_106.output.txt
/open_106.txt
/open_107.output.txt
/open_107.txt
/open_108.output.txt
/open_108.txt
/open_109.output.txt
/open_109.txt
/open_110.output.txt
/open_110.txt
/open_111.output.txt
/open_111.txt
/open_2.output.txt
/open_2.txt
/open_3.output.txt
/open_3.txt
/open_4.output.txt
/open_4.txt
/open_5.output.txt
/open_5.txt
/open_80.txt
/open_90.txt
/progetto_api.c
/progetto_api.exe
/progetto_api_file_ufficiale_incredibile.c
/progetto_api_file_ufficiale_incredibile.exe
/progetto_api_mat.c
/progetto_api_mat.exe
/progetto_api_mat_stdin.c
/prova.c
/prova_input_api.c
/prova_input_api.exe